# Using glob syntax
syntax: glob

**/.env
**/.mypy_cache
**/.pytest_cache
**/.secrets.*
**/__pycache__
**/venv
*.db
*.egg
*.egg-info/
*.idea
*.png
*.py[cod]
*.so
logs/
build/
dist/
wwwroot/

# Using regexp syntax
syntax: regexp
