# Using glob syntax
syntax: glob

**/.env
**/.mypy_cache
**/.pytest_cache
**/*secrets*
**/__pycache__
**/venv
*.egg
*.egg-info/
*.idea
*.py[cod]
*.so
*.sqlite
logs/
build/
dist/

# Using regexp syntax
syntax: regexp
