# Submodules
runtime>=2.0.5
convince>=0.0.3

# Install requirements not included in submodules
-r tools/cl/tradeentry/install_requirements.txt

# Build and test requirements
-r tools/cl/tradeentry/build_requirements.txt
-r tools/cl/tradeentry/test_requirements.txt
